 body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    display: block;
    background-color: #5155c1;
    border-radius: 15px 0 0 15px;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    margin: auto;
    /* padding: 10px; */
    border-radius: 10px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar-menu li i {
    margin-right: 10px;
}

.sidebar-menu li:hover {
    background-color: #284c78;
}

.btn{
    text-decoration: none;
    padding: 10px;
    display: flex;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    min-height: 100vh;
    top: 0;
    border-radius: 0 15px 15px 0;
    width: calc(100% - 250px);
    padding: 1rem;
    background-image:url('https://i.pinimg.com/736x/c2/26/48/c22648ceb5a6f1a45742c2a9890f5c34.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.menu-icon{
    font-size: 24px;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.container {
    margin: 10px;
    height: fit-content;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.user-profile {
    text-align: right;
}

.user-profile h3 {
    display: block;
    margin: 0;
}

.statistics {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.stat-card {
    background-color: #eceffd;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.stat-info h3 {
    margin: 0;
    font-size: 18px;
}

.stat-info p {
    font-size: 24px;
    margin: 0;
}

.add-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    border: 2px solid #E0E0E0;
    border-radius: 15px;
    background-color: #F5F5F5;
    color: #000;
    font-family: Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.add-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.plus-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

.button-text {
    font-size: 18px;
}

.pdf-upload {
    margin: 20px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
  }
  
  .pdf-upload input[type="file"] {
    margin-bottom: 10px;
  }
  
  .pdf-upload ul {
    list-style: none;
    padding-left: 0;
  }
  
  .pdf-upload ul li a {
    text-decoration: none;
    color: #007bff;
  }
  